---
layout: single
title: "Talks"
permalink: /talks/
author_profile: true
---

{% assign talks = site.talks | sort: "date" | reverse %}

<p style="margin-top:-0.5rem;">
  <a class="btn btn--primary btn--small" href="{{ base_path }}/talkmap/">View talks map</a>
</p>

{% assign years = talks | group_by_exp: "t", "t.date | date: '%Y'" %}

{% for y in years %}
### {{ y.name }}

{% assign invited = y.items | where: "talk_type", "invited" %}
{% assign conf    = y.items | where: "talk_type", "conference" %}
{% assign posters = y.items | where: "talk_type", "poster" %}
{% assign guest   = y.items | where: "talk_type", "guest_lecture" %}
{% assign groupm  = y.items | where: "talk_type", "group_meeting" %}

<h3>Invited talks &amp; seminars</h3>
{% for t in invited %}
  {% include talk-timeline-item.html talk=t %}
{% endfor %}

{% if conf.size > 0 %}
#### Conferences & posters
{% for t in conf %}
{% include talk-timeline-item.html talk=t %}
{% endfor %}
{% endif %}

{% if guest.size > 0 %}
#### Guest lectures & teaching
{% for t in guest %}
{% include talk-timeline-item.html talk=t %}
{% endfor %}
{% endif %}

{% if groupm.size > 0 %}
#### Group meetings & retreats
{% for t in groupm %}
{% include talk-timeline-item.html talk=t %}
{% endfor %}
{% endif %}

<h3>Posters</h3>
{% for t in posters %}
  {% include talk-timeline-item.html talk=t %}
{% endfor %}

{% endfor %}
