.research-figure {
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

.research-figure img {
  width: 100%;
  max-width: 980px;
  border-radius: 14px;
  display: block;
}

.research-figure .caption {
  margin-top: 0.6rem;
  font-size: 0.95rem;
  opacity: 0.85;
  line-height: 1.35;
}
